{% extends 'blog/main2.html' %}

{% block title %} Todos los posts {% endblock %}

{% block content %}

<!-- <h1 class="center">Todos los posts: </h1> -->

  <div class="row">
    <div class="col s12 cards-container-all">
      {% for entrada in object_list %}
      {# <div class="col s12">#}
        <div class="card z-depth-3">
          <div class="card-image">

            <img src="{{entrada.cover.url}}" alt="" class="responsive-img">
          </div>
          <div class="card-content">
            <!-- <div class="col s12 m5 img-post-all">
            </div> -->
            <h5 class="card-title-all"><a href="{{entrada.get_absolute_url}}" class="article-link">{{entrada.title}}</a></h5>
            <div class="divider"></div>
            <p class="card-info grey-text">
              <small>
                <span>Por {{entrada.author.username}}.</span>
                <span>publicado: {{entrada.created_at}}</span>
                <span><i class="fa fa-eye"></i> 1.5k</span>
                <span><i class="fa fa-comment"></i> 50</span>
              </small>
            </p>
            <br>
            <!-- <div class="section">
              <p class="content-markdown">{{entrada.text|truncatechars:500}}</p>
            </div> -->
            <div class="clearfix"></div>
            <div class="center">
              <a href="{{entrada.get_absolute_url}}" class="btn blue">Leer</a>
            </div>
          </div>

          <div class="card-category grey lighten-2 center">

            <div class="chip">Django</div>
            <div class="chip">Base de datos</div>
            <div class="chip">Backend</div>
            <div class="chip">Medio</div>

          </div>
          </div>
        {# </div>#}
      {% endfor  %}
    </div>
  </div>
  <div class="row center">

    {% if is_paginated %}
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
      {% else %}
      <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
      {% endif %}
      {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
      <li class="active blue"><a href="#!">{{ i }}</a></li>
      {% else %}
      <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
      <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
      {% else %}
      <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      {% endif %}
    </ul>
    {% endif %}
  </div>


  </div>
</div>
<br>
<br>
<br>
<br>

{% endblock %}
