{% extends 'blog/main2.html' %}
{% load staticfiles %}
{% load widget_tweaks %} <!-- Cargo las nuevas funcionalidades de la app que descarge -->

{% block extraStyles %}
  {{form.media}}

  <!--<style>
    .wmd-panel
    {
      margin:0px;
      width:100%;
    }

    .wmd-wrapper div
    {
      margin-left: 0px !important;
    }
  </style>-->
  <link rel="stylesheet" href="{% static 'blog/js/editor.md-master/css/editormd.css' %}">
{% endblock %}


{% block content %}
    <div class="row">
      <form method="post" enctype="multipart/form-data" class="col s12"> <!-- Aqui era enctype el problema -->
        <div class="card">
          <br>
          <br>
          <h3 class="center">Crea tu post</h3>
          <div class="divider"></div>
          <div class="card-content">
        {% csrf_token %}
        {% with WIDGET_ERROR_CLASS='invalid' %}
        <div class="input-field">
          {% render_field form.title class+="validate" %}
          <label for="{{form.title.id_for_label}}" data-error="{% for error in form.title.errors %} {{error}} {% endfor %}">{{form.title.label}}</label>
        </div>
        <br>
        <p><b>IMPORTANTE.</b> la vista previa mostrada en este formulario es un aproximado a como se vera en el blog, pero puede variar, siempre verificar la vista en detalle</p>
        <br>
        <div id="editormd">
          {% render_field form.text style='display:none;' %}
        </div>
        <br>
        <br>
        <div class="input-field">
          <div class="file-field input-field">
            <div class="btn btn-small blue">
              <span>{{form.cover.label}}</span>
              {% render_field form.cover %}
            </div>
            <div class="file-path-wrapper">
              <input id="aux" class="file-path validate {% if form.cover.errors %}invalid{% endif %}" type="text">
            </div>
          </div>
        </div>
        <div class="input-field">
          {% render_field form.category %}
        </div>
        {% endwith %}
        <br>
        <br>
        <button type="submit" name="button" class="btn blue">Guardar</button>


      </form>
    </div>

  </div>
</div>
<div class="row">

</div>
{% endblock %}

{% block extraScripts %}
<script src="{% static 'blog/js/editor.md-master/src/editormd.js' %}" charset="utf-8"></script>
<script src="{% static 'blog/js/editor.md-master/languages/en.js' %}" charset="utf-8"></script>

<script type="text/javascript">
    $(function() {
        var editor = editormd("editormd", {
            path : "{% static 'blog/js/editor.md-master/lib/' %}" ,
            height           : 580,
            tex              : true,
            tocm             : true,
            emoji            : true,
            taskList         : true,
            codeFold         : true,
            searchReplace    : true,
            htmlDecode       : "style,script,iframe",
            flowChart        : true,
            sequenceDiagram  : true,
            onfullscreen     : function() {
                this.editor.css("border-radius", 0).css("z-index", 120);
            },
            onfullscreenExit : function() {
                this.editor.css({
                    zIndex : 10,
                    border : "none",
                    "border-radius" : "5px"
                });

                this.resize();
            }
        });


    });
</script>
{% endblock %}
