{% extends 'blog/main.html' %}
{% load staticfiles %}
{% block title %}Home Page{% endblock %}




{% block content %}


<nav class="raised">
  <div class="nav-wrapper grey darken-3 z-depth-2">
    <form method="GET">
      <div class="input-field">
        <input id="search" type="search" name="q" required>
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>
</nav>



<div class="categorias center">
  <a href="#!">
    <div class="chip active">
      Todos
    </div>
  </a>
  <a href="#!">
    <div class="chip">
      Lenguajes
    </div>
  </a>
  <a href="#!">
    <div class="chip">
      Frameworks
    </div>
  </a>
  <a href="#!">
    <div class="chip">
      Diseño Web
    </div>
  </a>
  <a href="#!">
    <div class="chip">
      Bases de Datos
    </div>
  </a>
  <a href="#!">
    <div class="chip">
      Teoria
    </div>
  </a>
  <a href="#!">
    <div class="chip">
      Otros
    </div>
  </a>
</div>


<div class="section">
  <div class="row">
    <div class="col s12 l8 cards-container">

      <div class="card z-depth-2">
        <div class="card-image">
          <img src="{% static 'blog/img/django.jpg' %}">
          </div>
        <div class="card-content">
          <p class="card-info grey-text">
            <small>
              <span class="left">Por Victor Ligas</span> <span class="right">4 de abril del 2016</span>
            </small>
          </p>
          <p class="title"><h5>Migraciones en Django</h5></p>
          <div class="divider"></div>
          <div class="section">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quibusdam quis iusto tempore cumque similique saepe illum? Deleniti tempore nemo repellat magnam, cum reprehenderit consectetur necessitatibus quos nostrum ipsum quisquam.</p>
          </div>
        </div>
        <div class="card-action">
          <div class="row">
            <div class="col s4"><a href="#" class="">  <button class="btn btn-small waves-effect waves-light blue" type="submit" name="action">Leer</button></a></div>
            <div class="col s4 grey-text text-darken-2"><i class="fa fa-eye"></i> 320</div>
            <div class="col s4 grey-text text-darken-2"><i class="fa fa-comment"></i> 3</div>
          </div>
        </div>
        <div class="card-category grey darken-3 center">
          <div class="chip">Django</div>
          <div class="chip">Python</div>
          <div class="chip">Framework</div>
        </div>
      </div>




      <div class="card z-depth-2">
        <div class="card-image">
          <img src="{% static 'blog/img/redes.jpg' %}">
          </div>
        <div class="card-content">
          <p class="card-info grey-text">
            <small>
              <span class="left">Por Crismary Castellanos</span> <span class="right">4 de abril del 2016</span>
            </small>
          </p>
          <p class="title"><h5>Redes Neuronales con Python</h5></p>
          <div class="divider"></div>
          <div class="section">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt beatae neque officia cum accusantium quo, consequuntur asperiores. Sed dolorum consectetur fugit illum dolor doloremque. Voluptatibus dolor, non modi maxime impedit.</p>
          </div>
        </div>
        <div class="card-action">
          <div class="row">
            <div class="col s4"><a href="#" class="">  <button class="btn btn-small waves-effect waves-light blue" type="submit" name="action">Leer</button></a></div>
            <div class="col s4 grey-text text-darken-2"><i class="fa fa-eye"></i> 2.1k</div>
            <div class="col s4 grey-text text-darken-2"><i class="fa fa-comment"></i> 50</div>
          </div>
        </div>
        <div class="card-category grey darken-3 center">
          <div class="chip z-depth-1">IA</div>
          <div class="chip z-depth-1">Python</div>
          <div class="chip z-depth-1">Avanzado</div>
        </div>
      </div>




       <div class="card z-depth-2">
         <div class="card-image">
           <img src="{% static 'blog/img/unity.jpg' %}">
         </div>
         <div class="card-content">
           <p class="card-info grey-text">
             <small>
               <span class="left">Por David</span> <span class="right">4 de abril del 2016</span>
             </small>
           </p>
           <p class="title"><h5>Desarrollo de Videojuegos en Unity</h5></p>
           <div class="divider"></div>
           <div class="section">
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab tempora hic cum aperiam perferendis sequi, eum officiis nihil, aut, aliquid consequatur quidem necessitatibus deleniti rerum eaque neque porro cupiditate nulla!</p>
           </div>
         </div>
         <div class="card-action">
           <div class="row">
             <div class="col s4"><a href="#" class="">  <button class="btn btn-small waves-effect waves-light blue" type="submit" name="action">Leer</button></a></div>
             <div class="col s4 grey-text text-darken-2"><i class="fa fa-eye"></i> 1.5k</div>
             <div class="col s4 grey-text text-darken-2"><i class="fa fa-comment"></i> 30</div>
           </div>
         </div>
         <div class="card-category grey darken-3 center">
           <div class="chip z-depth-1">Videojuegos</div>
           <div class="chip z-depth-1">Unity</div>
         </div>
       </div>



       <div class="card z-depth-2">
         <div class="card-image">
           <img src="{% static 'blog/img/r.png' %}">
         </div>
         <div class="card-content">
           <p class="card-info grey-text">
             <small>
               <span class="left">Por Alvaro</span> <span class="right">4 de abril del 2016</span>
             </small>
           </p>
           <p class="title"><h5>Introduccion a R</h5></p>
           <div class="divider"></div>
           <div class="section">
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae molestiae odit tempore rem nostrum hic fuga inventore consequuntur dignissimos mollitia, atque quas debitis dolorum commodi. Recusandae incidunt corporis voluptatem, necessitatibus?</p>
           </div>
         </div>
         <div class="card-action">
           <div class="row">
             <div class="col s4"><a href="#" class="">  <button class="btn btn-small waves-effect waves-light blue" type="submit" name="action">Leer</button></a></div>
             <div class="col s4 grey-text text-darken-2"><i class="fa fa-eye"></i> 1.5k</div>
             <div class="col s4 grey-text text-darken-2"><i class="fa fa-comment"></i> 30</div>
           </div>
         </div>
         <div class="card-category grey darken-3 center">
           <div class="chip z-depth-1">R</div>
           <div class="chip z-depth-1">Estadistica</div>
         </div>
       </div>
    </div>


    <div class="col s12 l4">
      <div class="sidebar">
        <div class="popular-posts">
          <h3 class="section-title">Posts Populares</h3>


          <div class="section">
            <div class="row popular-post">
              <div class="col s3 image-post">
                <div class="image-cropper z-depth-3">
                  <img src="{% static 'blog/img/atom.jpg' %}" alt="" >
                </div>
                <div class="vistas blue center white-text z-depth-3">
                  <i class="fa fa-eye"></i> 2.5k
                </div>
              </div>
              <div class="col s9">
                <div class="tags">
                  <div class="chip z-depth-1">Herramientas</div>
                  <div class="chip z-depth-1">Atom</div>
                </div>
                <h5>Mejores paquetes de Atom</h5>
              </div>
            </div>
            <div class="divider"></div>
          </div>


          <div class="section">
            <div class="row popular-post">
              <div class="col s3 image-post">
                <div class="image-cropper z-depth-3">
                  <img src="{% static 'blog/img/nodejs.jpg' %}" alt="" >
                </div>
                <div class="vistas blue center white-text z-depth-3">
                  <i class="fa fa-eye"></i> 2.3k
                </div>
              </div>
              <div class="col s9">
                <div class="tags">
                  <div class="chip z-depth-1">Nodejs</div>
                  <div class="chip z-depth-1">Backend</div>
                </div>
                <h5>Implementar una API basica con Nodejs</h5>
              </div>
            </div>
            <div class="divider"></div>
          </div>



          <div class="section">
            <div class="row popular-post">
              <div class="col s3 image-post">
                <div class="image-cropper z-depth-3">
                  <img src="{% static 'blog/img/laravel.png' %}" alt="" >
                </div>
                <div class="vistas blue center white-text z-depth-3">
                  <i class="fa fa-eye"></i> 1.5k
                </div>

              </div>
              <div class="col s9">
                <div class="tags">
                  <div class="chip z-depth-1">Laravel</div>
                  <div class="chip z-depth-1">Php</div>
                </div>
                <h5>Introduccion a Laravel <small>(organizacion de carpetas)<small></h5>
              </div>
            </div>
            <div class="divider"></div>
          </div>



        <br>
        </div>
        <div class="motivacion card blue white-text">
          <div class="card-content">
            <h3 class="text-center">
              Motivacion <i class="fa fa-trophy" aria-hidden="true"></i>
            </h3>
            <p>
              Esta pagina surgio como un proyecto para ayudar en la universidad a los estudiantes de los primeros semestres a tener un poco de contacto con la carrera a traves de pequeños tutoriales o tips de diversos temas, principalmente de los que podiamos aportar algo, como lo son Desarrollo web, lenguajes de programacion como C, C++, python, etc.
            </p>
            <br>
            <p>
              Ya que este fue un proyecto que desarrollamos estando en el 4to (cuarto) semestre, es muy probable que tenga cosas mejorables y algunos errores, estamos abiertos a sugerencias o criticas constructivas, haznos saber tu opinion. <i class="fa fa-smile-o" aria-hidden="true"></i>
            </p>
            <br>
            <span class="card-title activator grey-text text-darken-3">Escribenos <span class="btn-floating right grey darken-3"><i class="fa fa-pencil" aria-hidden="true"></i></span>

          </div>
          <div class="card-reveal black-text">
            <span class="card-title grey-text text-darken-4">Escribenos <i class="fa fa-pencil right" aria-hidden="true"></i></span>
            <form class="col s12" method="POST">
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="mensaje" name="mensaje" class="materialize-textarea"></textarea>
                  <label for="mensaje">Sugerencia</label>
                  <button type="submit" name="button" class="btn blue">enviar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <br>
        <div class="categorias-populares">
          <h3 class="section-title">Categorias Populares <i class="fa fa-tags" aria-hidden="true"></i></h3>

          <div class="chip z-depth-1">IA</div>
          <div class="chip z-depth-1">Python</div>
          <div class="chip z-depth-1">Avanzado</div>
          <div class="chip z-depth-1">Framework</div>
          <div class="chip z-depth-1">Django</div>
          <div class="chip z-depth-1">Teoria</div>
          <div class="chip z-depth-1">C</div>
          <div class="chip z-depth-1">Java</div>
          <div class="chip z-depth-1">Javascript</div>
          <div class="chip z-depth-1">Laravel</div>
          <div class="chip z-depth-1">Php</div>
          <div class="chip z-depth-1">Atom</div>
          <div class="chip z-depth-1">Sublime</div>
          <div class="chip z-depth-1">Servidores</div>
          <div class="chip z-depth-1">DB</div>
          <div class="chip z-depth-1">Nodejs</div>
          <div class="chip z-depth-1">Html</div>
          <div class="chip z-depth-1">React</div>

        </div>
      </div>
    </div>
    </div>
  </div>
{% endblock %}
