{% extends 'blog/main.html' %}
{% load staticfiles %}
{% block title %}Home Page{% endblock %}




{% block content %}


<nav class="raised-2">
  <div class="nav-wrapper grey darken-3 z-depth-2">
    <form action="/search/" method="GET">
      {% csrf_token %}
      <div class="input-field">
        <input id="search" type="search" name="q">
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>
</nav>



<div class="categorias center">
  <a href="/posts/search_category/?category=all">
    <div class="chip active" name="category">
      Todos
    </div>
  </a>
  {% for categoria in category_show %}
    <a href="/posts/search_category/?category={{categoria.name}}">
      <div class="chip" name='category'>
        {{categoria.name}}
      </div>
    </a>
  {% endfor %}
</div>


<div class="section">
  <div class="row">
    <div class="col s12 l8 cards-container">
      {% for entrada in posts_nuevos %}
        <div class="card z-depth-3">
          <div class="card-image">
            <img src="{{entrada.cover.url}}">
            <div class="nuevo">
              <span>Nuevo</span>
            </div>
          </div>
          <div class="card-content">
            <p class="card-info grey-text">
              <small>
                <span class="left">{{entrada.author.username}}</span> <span class="right">{{entrada.created_at}}</span>
              </small>
            </p>
            <a href="#!" class="article-link"><p class="title"><h5>{{entarda.title}}</h5></p></a>
            <div class="divider"></div>
            <div class="section">
              <p>{{ entrada.text|truncatewords:30 }}</p>
            </div>
          </div>
          <div class="card-action">
            <div class="row">
              <div class="col s4"><a href="{{entrada.get_absolute_url}}" class="">  <button class="btn btn-small waves-effect waves-light blue" type="submit" name="action">Leer</button></a></div>
              <div class="col s4 grey-text text-darken-2"><i class="fa fa-eye"></i> {{entrada.cont_vist}}</div>
              <div class="col s4 grey-text text-darken-2"><i class="fa fa-comment"></i> {{ entrada.comments.count }}</div>
            </div>
          </div>
          <div class="card-category grey lighten-2 center">
            {% for var in entrada.category.all %}
              <div class="chip">{{ var.name }}</div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
      </div>



    <div class="col s12 l4">
      <div class="sidebar">
        <div class="popular-posts">
          <h3 class="section-title">Posts Populares</h3>

          {% for entrada in posts_populares  %}
            <div class="section">
              <div class="row popular-post">
                <div class="col s3 image-post">
                  <div class="image-cropper z-depth-3">
                    <img src="{{entrada.cover.url}}" alt="" >
                  </div>
                  <div class="vistas blue center white-text z-depth-3">
                    <i class="fa fa-eye"></i> {{ entrada.cont_vist }}
                  </div>
                </div>
                <div class="col s9">
                  <a href="{{entrada.get_absolute_url}}" class="article-link"><h5>{{entrada.title}}</h5></a>
                </div>
              </div>
              <div class="divider"></div>
            </div>
          {% endfor %}




        <br>
        </div>
        <div class="motivacion card blue white-text">
          <div class="card-content">
            <h3 class="text-center">
              Motivacion <i class="fa fa-trophy" aria-hidden="true"></i>
            </h3>
            <p>
              Esta pagina surgio como un proyecto para ayudar en la universidad a los estudiantes de los primeros semestres a tener un poco de contacto con la carrera a traves de pequeños tutoriales o tips de diversos temas, principalmente de los que podiamos aportar algo, como lo son Desarrollo web, lenguajes de programacion como C, C++, python, etc.
            </p>
            <br>
            <p>
              Ya que este fue un proyecto que desarrollamos estando en el 4to (cuarto) semestre, es muy probable que tenga cosas mejorables y algunos errores, estamos abiertos a sugerencias o criticas constructivas, haznos saber tu opinion. <i class="fa fa-smile-o" aria-hidden="true"></i>
            </p>
            <br>
            <span class="card-title activator grey-text text-darken-3">Escribenos <span class="btn-floating right grey darken-3"><i class="fa fa-pencil" aria-hidden="true"></i></span>

          </div>
          <div class="card-reveal black-text">
            <span class="card-title grey-text text-darken-4">Escribenos <i class="fa fa-pencil right" aria-hidden="true"></i></span>
            <form class="col s12" action = "{% url 'enviarSugerencia' %}" method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="mensaje" name="mensaje" class="materialize-textarea"></textarea>
                  <label for="mensaje">Sugerencia</label>
                  <button type="submit" name="button" class="btn blue">enviar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <br>
        <div class="categorias-populares">
          <h3 class="section-title">Categorias Populares <i class="fa fa-tags" aria-hidden="true"></i></h3>

          {% for categoria in category_populares %}
            <div class="chip z-depth-1" name="category">
              <a href="/posts/search_category/?category={{categoria.name}}">{{categoria.name}}</a>
            </div>
          {% endfor %}

        </div>
      </div>
    </div>
    </div>
  </div>
{% endblock %}
