{% extends 'blog/main2.html' %}


{% block  title %}Log In{% endblock %}

{% block content %}

<form method="post">
  {% csrf_token %}
  <div class="row">
    <div class="col m6 offset-m3 card">
      <div class="card-content">

        <div class="input-field ">
          <label for="username">Nombre de Usuario:</label>
          <input class = "form-control" type="text" name="username" id="username">
        </div>
        <div class="input-field ">
          <label for="password">Constraseña:</label>
          <input class = "form-control" type="password" name="password" id="password">
        </div>
        <div class="input-field">
          <a href="{% url 'password_reset' %}">Olvidé mi constraseña</a>
          <br><br>
          <input class = "btn blue" type="submit" value = "Ingresar">
        </div>
      </div>
      </div>
    </div>
</form>

{% endblock %}
