{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blog | {%block title%}{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Antic|Crimson+Text|Raleway|Space+Mono|Work+Sans|Montserrat" rel="stylesheet">
    <script src="https://use.fontawesome.com/3aa6c402c1.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <link rel="stylesheet" href="{% static 'blog/css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">



    {% block extraStyles %}{% endblock %}
  </head>
  <body>
    <nav class="transparent main-nav" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#!">Contactanos</a></li>
          <li><a href="#!">Todos los posts</a></li>
          <li><a href="#!">Otro Link</a></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Navbar Link</a></li>
        </ul>

        <ul id="dropdown1" class="dropdown-content">
          <li><a href="#!">one</a></li>
          <li><a href="#!">two</a></li>
          <li class="divider"></li>
          <li><a href="#!">three</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    <div class="main-banner">
      <div class="banner-content">
        <h1>Blog de Computacion</h1>
        <h5>Por estudiantes - Para estudiantes</h5>
      </div>
    </div>

    <div class="section"></div>

    <div class="container">
      {% block content %}
        {# contenido de la pagina #}
      {% endblock %}
    </div>

    <script src="{% static 'blog/js/jquery-3.2.1.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'blog/js/materialize.min.js' %}" charset="utf-8"></script>

    {% block extraScripts %}{% endblock %}


    <script type="text/javascript">
    $("document").ready(function(){
      $(".button-collapse").sideNav();
    });

    $("#posts").masonry({
      itemSelector: '.card',
      columnWidth: 300,
    });
    </script>
  </body>
</html>
