{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blog | {% block title %}{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat|Nunito|Droid+Sans|Share+Tech+Mono" rel="stylesheet">
    <script src="https://use.fontawesome.com/3aa6c402c1.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <link rel="stylesheet" href="{% static 'blog/css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/prism-onedark.css' %}">

    <style media="screen">
      nav.main-nav
      {
        margin-bottom:50px;
        position:relative;
      }

      .editormd-dialog-container select
      {
        display:block;
      }

    </style>


    {% block extraStyles %}{% endblock %}
  </head>
  <body>

    <ul id="dropdown1" class="dropdown-content">
      <li><a href="#!">Mi perfil</a></li>
      {% if perms.blog.add_post %}
        <li><a href="{% url 'showAllMyPost' %}">Mis posts</a></li>
        <li><a href="{% url 'create' %}">Escribir Post</a></li>
      {% endif %}
      <li class="divider"></li>
      <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>Log out</a></li>
    </ul>

    <ul id="dropdown2" class="dropdown-content">
      <li><a href="#!">Mi perfil</a></li>
      {% if perms.blog.add_post %}
        <li><a href="{% url 'showAllMyPost' %}">Mis posts</a></li>
        <li><a href="{% url 'create' %}">Escribir Post</a></li>
      {% endif %}
      <li class="divider"></li>
      <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>Log out</a></li>
    </ul>

    <nav class="blue main-nav" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="{% url 'index' %}" class="brand-logo"><img src="{% static 'blog/img/logo2.png' %}" alt="" class="responsive-img"> <span class="logo-text">p entonces q</span></a>
        <ul class="right hide-on-med-and-down nav-ul">
          <li><a href="{% url 'contact' %}"><i class="fa fa-envelope" aria-hidden="true"></i> Contactanos</a></li>
          <li><a href="{% url 'showAll' %}"><i class="fa fa-list" aria-hidden="true"></i> Todos los posts</a></li>
          {% if not user.is_authenticated %}
          <li><a href="{% url 'registrar' %}"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a></li>
          <li><a href="{% url 'login' %}"><i class="fa fa-sign-in" aria-hidden="true"></i> Log In</a></li>
          {% else %}
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{user.username}} <i class="material-icons right dropdown-navbar">arrow_drop_down</i></a></li>
          {% endif %}
        </ul>
        <ul id="nav-mobile" class="side-nav nav-ul">
          <li><a href="{% url 'contact' %}">Contactanos</a></li>
          <li><a href="{% url 'showAll' %}">Todos los posts</a></li>
          {% if not user.is_authenticated %}
          <li><a href="{% url 'registrar' %}">Sign Up</a></li>
          <li><a href="{% url 'login' %}">Log In</a></li>
          {% else %}
          <li><a class="dropdown-button" href="#!" data-activates="dropdown2">{{user.username}}<i class="material-icons right">arrow_drop_down</i></a></li>
          {% endif %}
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>


    <div class="section"></div>


    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <footer class="page-footer grey darken-3">
      <div class="footer-copyright grey darken-4">
        <div class="container center">
          P entonces Q &copy; 2017
        </div>
      </div>
    </footer>



    <script src="{% static 'blog/js/jquery-3.2.1.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'blog/js/materialize.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'blog/js/prism.js' %}" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>


    {% block extraScripts %}{% endblock %}


    <script type="text/javascript">
    $(document).ready(function(){

      $(".button-collapse").sideNav();
      $('.dropdown-button').dropdown();
      $('.modal').modal();
      $('select').material_select();



      $(".content-markdown").each(function(){
          var content = $(this).text()
          var markedContent = marked(content);
          $(this).html(markedContent)

      });

      console.log("sali");
      Prism.highlightAll();
      console.log("hice el highlight");




    });

    </script>
  </body>
</html>
